*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(207, 207, 158);

}
footer{
    min-height: 10vh;
}
#milogo{
    width: 3rem;
    display: inline-block;
    position: absolute;
    left: 80rem;
}
nav{
    height: 3rem;
    width: 100vw;
    color: rgb(0, 0, 0);
    display: flex;
    justify-items: center;
    text-align: center;
    justify-content: space-evenly;
}

header{
    min-height: 10vh;
    height: 2rem;
    background-color: rgb(214, 148, 50);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    min-height: 10%;
}

#imgF{
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.letra{
    height: 100ph;
    width: 15rem;
}
section{
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.textoP{
    height: 100ph;
    width: 15rem;
    display: flex;
    justify-content: space-between
}
h4{
    height: 10rem;
    width: 50rem;
}
.margen{
 height: 10rem;
}

main{
    min-height: 80%;
}
#imgD{
    display: flex;
    width: 5rem;
    padding: 2rem;
}
div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
#imagenes-3{
    display: flex;
    flex-direction: column;
}
.text{
    height: 100ph;
    width: 100pw;
    margin-top: 5rem;
}
#mini-coffee{
    padding: 1rem;
    height: 30rem;
    width: 73rem;
}
.mini{
    height: 100ph;
    width: 100pw;
    display: flex;
    justify-content: center;
}
.linea1{
    text-align: center;
}
.lineaF{
    padding: 50rem;
    width: 2px;
    display: flex;   
}
.linea2{
    padding: 5rem;
}
table, tr, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    justify-content: center;
    text-align: center;
    height: 10rem;
    width: 100vw;
}
.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
}
.beneficios{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
}
form{
    width: 10rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.columna{
    height: 50rem;
    display: flex;
    flex-direction: column;
}
.mega{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.formulario{

    padding-top: 10rem;
    width: 18rem;
    height: 48rem;
    align-items: center;
    justify-content: center;
}

#color{
    width: 17rem;
}
.pagos{
    display: flex;
    flex-direction: column;
    width: 17rem;
}
#country{
    width: 17rem;
}
input{
    width: 17rem;
}
.ubi{
    width: 12rem;
    height: 12rem;
}
.abajo{
    text-align: center;
    width: 10vw;
    text-decoration: underline;
}
@media only screen and (min-width: 320px) and (max-width: 454px) {
    #imgF{
        width: 15rem;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    #imgD{
        width: 15rem;
        height: 15rem;
       
    }
    .margen{
        height: 5px;
        width: 2px;
        flex-wrap: wrap;
        border: 1px solid red;
    }
    .letra{
        height: 15px;
        width: 15px;
    }
    .fotito{
        display: flex;
        flex-direction: column;
    }
}
    @media only screen and (min-width: 1024px){
        #imgD{  
        
            width: 15rem;
            height: 15rem;
}
.costado{
    display: flex;
}
#imgD{
    width: 20rem;
    height: 20rem;
}
    }